.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__row {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 10px;
  flex-wrap: wrap;
}

.home__image {
  width: 100%;
  height: 210px;
  object-fit: cover;
  z-index: -1;
  /* mask-image: linear-gradient(to bottom, rgb(3, 3, 3), rgba(0, 0, 0, 0.623)); */
}

.home__explore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.0075em;
  color: #222;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media screen and (max-width: 500px) {
  .home__image {
    height: 130px;
  }
}
